@using AntDesign
@inject NavigationManager NavigationManager
<Row Gutter="20">
    <Col Span="24">
        <Card Style="border-radius:15px" Class="maintenance-card overdue">
            <div class="card-header">
                <div class="header-left">
                    <Icon Type="warning" />
                    <div>
                        <div style="color:red" class="title">Maintenance Alerts</div>
                        <div class="desc">Equipment requiring attention (Overdue & Due Soon)</div>
                    </div>
                </div>
                <Button Type="ButtonType.Default" Style="border-radius: 8px; padding: 0 12px; height: 38px;" @onclick="@(() => NavigationManager.NavigateTo("maintenance"))">
                    View All <Icon Type="arrow-right" />
                </Button>

            </div>

            <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                @foreach (var item in OverDue)
                {
                    var nextDate = item.LastMaintenanceDate.Value.AddDays(item.MaintenanceCircleTime.Value);
                    var diffDays = Math.Abs(Math.Round((DateTime.Today - nextDate).TotalDays));

                    <div class="item overdue-item">
                        <div>
                            <div class="item-title">@item.EquipmentName</div>
                            <div class="item-sub">@item.LocName</div>
                        </div>
                        <Tag Class="custom-tag overdue-tag">@diffDays days overdue</Tag>
                    </div>
                }

                @foreach (var item in DueSoon)
                {
                    var nextDate = item.LastMaintenanceDate.Value.AddDays(item.MaintenanceCircleTime.Value);
                    var diffDays = Math.Round((nextDate - DateTime.Today).TotalDays);

                    <div class="item due-item">
                        <div>
                            <div class="item-title">@item.EquipmentName</div>
                            <div class="item-sub">@item.LocName</div>
                        </div>
                        <Tag Class="custom-tag due-tag">@(diffDays == 0 ? "Today" : $"In {diffDays} days")</Tag>
                    </div>
                }

                @if(!OverDue.Any() && !DueSoon.Any())
                {
                    <div style="text-align: center; color: #888; padding: 20px;">
                        No maintenance alerts at the moment.
                    </div>
                }
            </div>
        </Card>
    </Col>
</Row>
