@using AntDesign
@using CMMS.Shared.Dtos.Equipment
@inject HttpClient httpClient
@inject IMessageService Message

<style>
    .ant-select-selector {
        font-size: 14px !important;
        font-weight: 400 !important;
        height: 38px !important;
        display: flex;
        align-items: center;
    }

    .ant-select-selection-item {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .ant-select-arrow {
        font-size: 12px;
    }

    .ant-input {
        font-size: 14px;
        height: 38px;
    }

    .ant-select-selection-placeholder {
        color: #bfbfbf !important;
        font-size: 14px !important;
        font-weight: 400 !important;
    }
</style>
@{
    RenderFragment footer = @<Template>
            <Button OnClick="@SaveAsync" Type="ButtonType.Primary" Style="border-radius: 8px; padding: 0 12px; height: 38px;">
                Save
            </Button>
            <Button OnClick="@Close" Style="border-radius: 8px; padding: 0 12px; height: 38px;">
                Cancel
            </Button>
    </Template>;
}

<Modal @bind-Visible="IsModalVisible"
       Title="Equipment"
       Style="z-index:9999;width:700px"
       Footer="@footer">

    <p style="color:gray;margin-bottom:16px">
        Enter the equipment information
    </p>

    <Form @ref="@formRef"
          Model="@EquipmentDto"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync">

        <!-- Equipment Name -->
        <Row Gutter="16">
            <Col Span="24">
                <FormItem Label="Equipment Name" Name="EquipmentName" Required>
                    <Input @bind-Value="EquipmentDto.EquipmentName"/>
                </FormItem>
            </Col>
        </Row>
        <!-- Code + Barcode -->
        <Row Gutter="16">
            <Col Span="12">
            <FormItem Label="Equipment Code" Name="EquipmentCode">
                <Input @bind-Value="EquipmentDto.EquipmentCode" />
            </FormItem>
            </Col>

            <Col Span="12">
            <FormItem Label="Equipment Barcode" Name="EquipmentBarcode">
                <Input @bind-Value="EquipmentDto.EquipmentBarcode"/>
            </FormItem>
            </Col>
        </Row>
        <!-- Model + Serial -->
        <Row Gutter="16">
            <Col Span="12">
            <FormItem Label="Equipment Model" Name="EquipmentModel">
                    <Input @bind-Value="EquipmentDto.EquipmentModel" />
                </FormItem>
            </Col>

            <Col Span="12">
            <FormItem Label="Equipment Serial" Name="EquipmentSerial">
                    <Input @bind-Value="EquipmentDto.EquipmentSerial"/>
                </FormItem>
            </Col>
        </Row>
        <!-- Description + Note -->
        <Row Gutter="16">
            <Col Span="12">
            <FormItem Label="Equipment Description" Name="EquipmentDescription">
                <Input @bind-Value="EquipmentDto.EquipmentDescription"/>
            </FormItem>
            </Col>

            <Col Span="12">
            <FormItem Label="Equipment Note" Name="EquipmentNote">
                <Input @bind-Value="EquipmentDto.EquipmentNote"/>
            </FormItem>
            </Col>
        </Row>
        <!-- LocName + Purchase Date -->
        <Row Gutter="16">
            <Col Span="12">
                <FormItem Label="Purchase Date" Name="BuyDate">
                    <DatePicker @bind-Value="EquipmentDto.BuyDate"
                                Style="width:100%" />
                </FormItem>
            </Col>
            <Col Span="12">
                <FormItem Label="Maintenance Circle Time" Name="MaintenanceCircleTime" Required>
                <AntDesign.InputNumber TValue="int?" @bind-Value="EquipmentDto.MaintenanceCircleTime"
                                           Style="width:100%" />
            </FormItem>
            </Col>
            
        </Row>
        <Row Gutter="16">
            <Col Span="12">
            <FormItem Label="Purchase Price" Name="BuyPrice">
                <AntDesign.InputNumber TValue="decimal?"
                                       @bind-Value="EquipmentDto.BuyPrice"
                                       Style="width:100%" />
            </FormItem>
            </Col>
            <Col Span="12">
            <FormItem Label="BuyCurrency" Name="BuyCurrency">
                    <Select TValue="string"
                            @bind-Value="EquipmentDto.BuyCurrency"
                            DataSource="CurrencyList"
                            ValueName="Id"
                            LabelName="Name"
                            Placeholder="Select currency"
                            Style="width:100%">
                    </Select>
                </FormItem>
            </Col>
            @* <Col Span="12">
            <FormItem Label="Maintenance Type" Name="StsMainID" Required>
                <Select TValue="int"
                        @bind-Value="MaintenanceDto.StsMainID"
                        DataSource="MaintenanceStatuses"
                        ValueName="Id"
                        LabelName="Name"
                        Placeholder="Select type"
                        Style="width:100%">
                </Select>
            </FormItem>
            </Col> *@
        </Row>
        <!-- LocName + Department + Factory -->
        <Row Gutter="16">
            <Col Span="12">
            <FormItem Label="Location" Name="LocID">

                <Select TValue="int?"
                        @bind-Value="EquipmentDto.LocID"
                        DataSource="Locations"
                        ValueName="LocID"
                        LabelName="LocCode"
                        Placeholder="Select Location"
                        ShowSearch
                        AllowClear>
                </Select>
            </FormItem>
            </Col>
            <Col Span="12">
                <FormItem Label="Department" Name="DeptID" Required>

                <Select TValue="int?"
                        @bind-Value="EquipmentDto.DeptID"
                        DataSource="FilteredDepartments"
                        ValueName="DeptID"
                        LabelName="DeptFullName"
                        Placeholder="Select department"
                        ShowSearch
                        AllowClear>
                </Select>

            </FormItem>


            </Col>
        </Row>
        <!-- Vendor + PIC -->
        <Row Gutter="16">
            <Col Span="12">
                <FormItem Label="Vendor" Name="VendorID">
                    <Select TValue="int?"
                        @bind-Value="EquipmentDto.VendorID"
                        DataSource="Vendors"
                        ValueName="VendorID"
                        LabelName="VendorName"
                        Placeholder="Select vendor"
                        ShowSearch
                        AllowClear>
                    </Select>
                </FormItem>
            </Col>
            <Col Span="12">
            <FormItem Label="PICID" Name="PICID">
                <Select TValue="string?"
                        @bind-Value="EquipmentDto.PICID"
                        DataSource="Users"
                        ValueName="WorkDayId"
                        LabelName="FullName"
                        Placeholder="Select PIC"
                        ShowSearch
                        EnableSearch>
                </Select>
            </FormItem>
            </Col>
            @* <Col Span="12">
                <FormItem Label="Contact No" Name="ContactNo">
                    <Input @bind-Value="EquipmentDto.ContactNo" />
                </FormItem>
            </Col> *@
        </Row>

        <!-- SAPCode + PIC -->
        <Row Gutter="16">
            @* <Col Span="12">
            <FormItem Label="SAP Code" Name="SAPCode">
                <AntDesign.InputNumber @bind-Value="EquipmentDto.SAPCode"
                                       Style="width:100%" />
            </FormItem>
            </Col> *@
            <Col Span="12">
            <FormItem Label="SAPCode" Name="SAPCode">
                <Input @bind-Value="EquipmentDto.SAPCode"
                       />
            </FormItem>
            </Col>
            <Col Span="12">
                <FormItem Label="Contact No" Name="ContactNo">
                    <Input @bind-Value="EquipmentDto.ContactNo" />
                </FormItem>
            </Col>

            
            
        </Row>
    </Form>
</Modal>